/* 全体のデフォルトカラー */
$body-color: #000;

/* メインカラー */
$primary: #d45b34;

/* セカンドカラー */
$secondary: #a59132;

/* ライン */
$success: #f0e2d8;

/* 青系 */
$info: #4D4D4D;

/* 黄色系 */
// $warning: ;

/* 赤系 */
$danger: #bf3527;

/* 灰色系 */
$light: #f9f5e9;

/* 黒 */
$dark: #392615;
