/*===================================================
 共通
====================================================*/
body {
  font-size: 0.875rem;
  font-family: 'Roboto', "Noto Sans JP", sans-serif;
  font-feature-settings: "palt" 1;
  letter-spacing: 0.06em;
}

a {
  transition: 0.5s;

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}
/*===================================================
 見出し
====================================================*/
h2 {
  font-size: 1.5rem;
  @include media-breakpoint-down(md) {
    font-size: 1.375rem;
  }
}

h3 {
  font-size: 1.125rem;
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}

.ttl-h2 {}

.ttl-h3 {}
