/*===================================================
 共通
====================================================*/
body {
  font-size: 0.875rem;
  font-family: 'Questrial', 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt" 1;
  letter-spacing: 0.06em;
}

a {
  color: $body-color;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}

ul {
  list-style: none;
}
/*===================================================
 コンテンツ幅
====================================================*/
.container {
  max-width: 1080px;
}

.container-small {
  max-width: 1000px;
}
/*===================================================
 フォント
====================================================*/
.mincho {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.f-28 {
  font-size: 1.75rem!important;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem!important;
  }
}

.f-24 {
  font-size: 1.5rem!important;
  @include media-breakpoint-down(md) {
    font-size: 1.125rem!important;
  }
}

.f-18 {
  font-size: 1.125rem!important;
}

.f-16 {
  font-size: 1rem!important;
}
/*===================================================
 見出し
====================================================*/
.ttl-2 {
  display: block;
  text-align: center;
  font-size: 1.5rem!important;
  font-family: 'Sawarabi Mincho', sans-serif;
  @include media-breakpoint-down(md) {
    font-size: 1.125rem!important;
  }

  &-en {
    display: block;
    font-size: 1rem;
    font-family: 'Questrial', 'Noto Sans JP', sans-serif;
    margin-top: 11px;
    text-transform: capitalize;
    color: $primary;
    letter-spacing: 0.14em;
  }
}
/*===================================================
 行の高さ
====================================================*/
.lh-large {
  line-height: 2.4em;
  @include media-breakpoint-down(md) {
    line-height: 2em;
  }
}

.lh-small {
  line-height: 1.75em;
  @include media-breakpoint-down(md) {
    line-height: 2em;
  }
}
/*===================================================
 ボタン
====================================================*/
.btn-primary {
  display: block;
  width: 343px;
  margin: 3rem auto 0;
  padding: 1.5rem 0;
  text-align: center;

  span {
    position: relative;
    padding-left: 22px;
    font-size: 1rem;

    &::before {
      content: url("../images/arrow_white.svg");
      width: 15px;
      height: 15px;
      display: inline-block;
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
}

.link-arrow {
  position: relative;
  padding-left: 22px;

  &::before {
    content: url("../images/arrow_line.svg");
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: -1%;
    left: 0;
  }
}
