/*===================================================
 共通
====================================================*/
body {
  font-size: 0.875rem;
  font-family: 'Questrial', 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt" 1;
  letter-spacing: 0.06em;
}

a {
  color: $body-color;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}

ul {
  list-style: none;
}
/*===================================================
 コンテンツ幅
====================================================*/
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*===================================================
 フォント
====================================================*/
.mincho {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.f-24,
.f-26,
.f-28 {
  letter-spacing: 0.14em;
}

.f-28 {
  font-size: 1.75rem!important;
  line-height: 3.4rem!important;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem!important;
    line-height: 2.8rem!important;
  }
}

.f-26 {
  font-size: 1.625rem!important;
  line-height: 3.1rem!important;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem!important;
    line-height: 2.6rem!important;
  }
}

.f-24 {
  font-size: 1.5rem!important;
  line-height: 2.6rem!important;
  @include media-breakpoint-down(md) {
    font-size: 1.375rem!important;
  }
}

.f-18 {
  font-size: 1.125rem!important;
}

.f-16 {
  font-size: 1rem!important;
}

.f-14 {
  font-size: 0.875rem!important;
}
/*===================================================
 見出し
====================================================*/
.ttl-2 {
  display: block;
  text-align: center;
  font-size: 1.5rem!important;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: $dark;
  @include media-breakpoint-down(md) {
    font-size: 1.125rem!important;
  }

  &-en {
    display: block;
    font-size: 1rem;
    font-family: 'Questrial', 'Noto Sans JP', sans-serif;
    margin-top: 11px;
    text-transform: capitalize;
    color: $primary;
    letter-spacing: 0.14em;
  }
}
/*===================================================
 行の高さ
====================================================*/
.lh-large {
  line-height: 2.4em;
  @include media-breakpoint-down(md) {
    line-height: 2.2em;
  }
}

.lh-small {
  line-height: 1.75em;
  @include media-breakpoint-down(md) {
    line-height: 2em;
  }
}
/*===================================================
 ボタン
====================================================*/
.btn-primary {
  display: block;
  width: 343px;
  margin: 3rem auto 0;
  padding: 1.5rem 0;
  text-align: center;

  span {
    position: relative;
    padding-left: 22px;
    font-size: 1rem;

    &::before {
      content: url("../images/arrow_white.svg");
      width: 15px;
      height: 15px;
      display: inline-block;
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
}

.link-arrow {
  position: relative;
  padding-left: 22px;

  &::before {
    content: url("../images/arrow_line.svg");
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: -1%;
    left: 0;
  }
}
/*===================================================
 装飾
====================================================*/
.deco-1 {
  position: relative;

  &::before {
    content: "";
    width: 194px;
    height: 113px;
    position: absolute;
    top: 30px;
    left: -100px;
    background: url("../images/deco_2@2x.png");
    background-size: cover;
    z-index: -1;
    @include media-breakpoint-down(md) {
      top: -40px;
      left: -90px;
    }
  }
}
/*===================================================
 テーブル
====================================================*/
.table {
  // テーブル
  border-top: 1px solid $success;

  &-lines {
    display: block;
    border-bottom: 1px solid $success;
    padding: 20px 10px;

    .underline {
      text-decoration: underline;
    }
  }
}
/*===================================================
 沿革
====================================================*/
.history {
  width: 60%;
  margin: 0 auto;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
