/*===================================================
 フッター
====================================================*/
.footer {
  margin-top: 6rem;
  @include media-breakpoint-down(md) {
    margin-top: 4rem;
  }

  .container {
    &.main {
      position: relative;
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
  }

  &__info {
    margin-bottom: 4rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 3rem;
    }

    &__address {
      margin: 1.75rem 0;
    }
  }

  &__sns {
    text-align: right;
    @include media-breakpoint-down(md) {
      padding-bottom: 3rem;
      text-align: left;
    }
  }

  &__pagetop {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
