/*===================================================
 店舗紹介
====================================================*/
.shop {
  &-item {
    &-ttl {
      &::before {
        content: '';
        width: 100%;
        height: 9.5px;
        display: block;
        background: url("../images/ttl2_line_2@2x.png");
        background-size: cover;
      }
    }

    &-about {
      // 写真 + 概要
      width: 49%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    &-table {
      // テーブル
      width: 49%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      &::before {
        right: 0;
      }
    }
  }
}
